body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

p {
    margin: 0;
    padding: 0;
    display: flex;
}

/* -------- main ---------*/

nav {
    display: flex;
    height: 4rem;
    margin: 0rem;
    align-items: center;
}

.title-principal {
    display: flex;
    align-self: center;
    margin: 1rem auto 1rem 1rem;
    padding: 0;
    font-size: 38px;
    font-weight: bold;
}

.nav-home {
    display: flex;
    margin: 0rem 2rem;
}

.nav-distritos {
    display: flex;
    margin: 0rem 2rem;
}

.nav-servicos {
    display: flex;
    margin: 0 2rem;
}

.nav-posto {
    display: flex;
    margin: 0rem 2rem;
}

.div-img {
    display: flex;
    width: 100%;
    height: 35rem;
    margin: 0rem;
    object-fit: cover;
}

/* -------- header ---------*/

.conteiner-text-home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.conteiner-text-home,
span {
    display: block;
}

.text-home1 {
    display: block;
    margin: 2rem 4rem;
}

.text-home2 {
    display: block;
    margin: 2rem 4rem;
}

.button-distrito {
    display: flex;
    margin: 2rem 4rem;
    border: 0px;
    border-radius: 17px;
    width: 292px;
    height: 54px;
    justify-content: center;
    align-items: center;
}

.conteiner-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px;
    gap: 1rem;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 4rem 0rem 4rem 0rem;
    height: 335px;
    width: 100%;
    max-width: 423px;
}

.icone-card {
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.saiba-mais {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    height: 4rem;
    width: 20rem;
    border: 3px solid var(--color-button-blue);
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
}

.header-alignment {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 1rem;
}

.title-header2 {
    width: 100%;
    margin: 0rem;
    text-align: center;
}

.img-header {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0;
    align-self: center;
}

.title-informativo{
    display: flex;
    margin-left: 4rem;
    
}

.conteiner-informativo {
    display: flex;
    flex-direction: column;
    margin: 0rem 0rem 2rem 0rem;
}


.conteiner-informativo p  {
    display: block;
    width: 90%;
    margin: 1rem auto 1rem auto;
    line-height: 1.6;
    text-align: justify;
}
.conteiner-informativo ul {
    display: block;
    width: 90%;
    margin: 1rem auto 1rem auto;
    line-height: 1.6;
    text-align: justify;
}



/*----- footer -----*/

.footer {
    display: flex;
    flex-direction: column;
    height: 24.8rem;
    width: auto;
    box-sizing: content-box;
}

.conteiner-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 100%;
}

.box-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 19.3rem;
    height: 7.4rem;
    margin: 3rem 6rem 3rem 6rem;
}

.footer-linha {
    margin: 0rem 7.7rem;
    max-width: calc(100% - 18.6rem);
    overflow: hidden;
}


