:root {
    --color-text: #ffffff;
    --color-text-gray: #6A6A6A;
    --color-text-blue: #013D92; 
    --color-button-blue: #013D92;
    --color-nav: #013D92;
    --color-conteiner-white: #F9F9F9;
    --color-text-gray2: #999999;
    --color-carrosselg: #ccc;
    --color-carrosselb: #333;
}

