@import url('./root.css');
@import url(./reset.css);

nav {
    background-color: var(--color-nav);
    color: white;
    height: 4rem;
}

.title-principal {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

.nav-home {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

.nav-distritos {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

.nav-servicos { /* Corrigido o nome da classe */
    font-family: 'Bricolage Grotesque', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

.nav-posto {
    font-family: 'Bricolage Grotesque', sans-serif;
    text-decoration: none;
    color: var(--color-text);
}

/*------------------- main -------------------*/

h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.card-title {
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.card-text {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-text-gray2);
}