:root {
    --color-text: #ffffff;
    --color-tex-blue: #013D92;
    --color-button-blue: #013D92;
    --color-nav: #013D92;
    --color-conteiner-white: #F9F9F9:
}


/*--------- main ---------*/

nav{
    background-color: var(--color-nav);
    color: white;
    height: 4rem;
}

.title-principal{
    font-family: 'Bricolage Grotesque', sans-serif;
}


/*--------- header ---------*/

.text-home1{
    font-size: 54px;
    font-weight: extra-bold;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: var(--color-tex-blue);
}

.text-home2{
    font-size: 32px;
    font-weight: regular;
    font-family: 'Bricolage Grotesque', sans-serif;
    color: var(--color-tex-blue);
}

.button-distrito{
    background-color: var(--color-button-blue);
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

.box{
    background-color: var(--color-conteiner-white);
    border-radius: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title-card{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.title-info{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
    
}

.button-distrito2{
    background-color: var(--color-button-blue);
    color: white;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
}

/* ------ footer ------ */

.footer{
    background-color: var(--color-tex-blue);
    color: white;
    
}

.title-footer{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Bricolage Grotesque', sans-serif;
}

